.formulario {
    position: relative;
    border-radius: 2rem;
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $gris, $alpha: 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5);
    padding: 15rem 3rem 3rem 3rem;
    margin-top: 10rem;

    input, textarea {
        display: block;
        margin-bottom: 2rem;
        border: none;
        border-radius: .5rem;
        padding: .5rem;
        width: 100%;
    }

    input:last-of-type {
        margin-bottom: 0;
    }

    @include media-min(1500px) {
        padding: 3rem 3rem 3rem 20rem;
        height: 40rem;
        width: auto;
    }

    fieldset {
        color: $grisOscuro;
        border: .1rem solid $grisOscuro;
        border-radius: 2rem;
        padding: 2rem;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nombre-apellido {
    display: flex;
    flex-direction: column;

    input {
        display: inline-flex;
    }

    input:first-child {
        margin-right: 2rem;
    }

    input:last-of-type {
        margin-bottom: 2rem;
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.info-contacto {
    position: absolute;
    top: -10rem;
    width: 30rem;
    height: 20rem;
    background-color: $celeste;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.5);

    p {
        font-size: 1.5rem;
        margin: 0;
    }

    a {
        font-size: 1.5rem;
        color: $negro;
    }

    @include media-min(1500px) {
        left: -15rem;
        top: 10rem;
    }
}

.enlaces-contacto {
    display: flex;
    justify-content: center;

    a {
        color: $negro;
        font-size: 3rem;
        margin-right: 2rem;
    }

    a:last-of-type {
        margin-right: 0;
    }
}
