.formulario {
    position: relative;
    background-color: $gris;
    border-radius: 2rem;
    padding: 3rem 3rem 3rem 20rem;
    display: flex;
    height: 40rem;
    align-items: center;
    background-color: rgba($color: $gris, $alpha: 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5);

    input, textarea {
        display: block;
        margin-bottom: 2rem;
        border: none;
        border-radius: .5rem;
        padding: .5rem;
    }

    input:last-of-type {
        margin-bottom: 0;
    }

    textarea {
        color: #8d8d8d;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.nombre-apellido {
    display: flex;
    justify-content: space-between;

    input {
        display: inline-flex;
    }

    input:last-of-type {
        margin-bottom: 2rem;
    }
}

.info-contacto {
    position: absolute;
    width: 30rem;
    left: -15rem;
    background-color: $celeste;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.5);

    p {
        font-size: 1.5rem;
        margin: 0;
    }

    a {
        font-size: 1.5rem;
        color: $negro;
    }
}

.enlaces-contacto {
    display: flex;
    justify-content: center;

    a {
        color: $negro;
        font-size: 3rem;
        margin-right: 2rem;
    }

    a:last-of-type {
        margin-right: 0;
    }
}
