.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin-left: 5rem;
        color: $blanco;
        font-size: .8rem;
        width: 50%;
    }

    @include tablet {
        p {
            font-size: 1.5rem;
        }
    }
}
