.habilidades-grid {
    width: 100%;
    @include grid(5, $separacion / 2);
    grid-gap: 4rem;
}

.habilidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
        width: 5rem;

        i {
            font-size: 5rem;
        }

        img {
            width: 5rem;
        }
    }
}
