.proyectos {
    @include desktop-min(1080px) {
        @include grid(2, $separacion / 4);
    }

    @include desktop-min(1650px) {
        @include grid(3, $separacion / 4);
    }
}

.card {
    background-color: rgba($color: $gris, $alpha: 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5);
    overflow: hidden;
    border-radius: 2rem;
    width: 35rem;
    height: 25rem;
    cursor: pointer;
    transition: 0.4s;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .descripcion-proyecto {
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &:hover {
        height: 70rem;
    }

    &:hover .descripcion-proyecto {
        visibility: visible;
        opacity: 1;
    }

    .btn {
        width: 50%;
        margin: 2rem;
    }

    h3 {
        font-size: 2rem;
        color: $morado;
        margin: 3rem 0;
        line-height: 2.5rem;
    }

    p {
        padding: 3rem;
        font-size: 1.8rem;
    }
}
