.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: $gris;
    overflow: hidden;
    border-radius: 2rem;
    width: 35rem;
    height: 25rem;
    cursor: pointer;
    transition: 0.4s;
    margin: 0 4rem;

    .descripcion-proyecto {
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
    }

    &:hover {
        height: 60rem;
    }

    &:hover .descripcion-proyecto {
        visibility: visible;
        opacity: 1;
    }

    .btn {
        width: 50%;
        margin: 2rem;
    }
}
