.proyectos {
    @include grid(3, $separacion / 2);
}

.card {
    background-color: rgba($color: $gris, $alpha: 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5);
    overflow: hidden;
    border-radius: 2rem;
    width: 35rem;
    height: 25rem;
    cursor: pointer;
    transition: 0.4s;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .descripcion-proyecto {
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
    }

    &:hover {
        height: 60rem;
    }

    &:hover .descripcion-proyecto {
        visibility: visible;
        opacity: 1;
    }

    .btn {
        width: 50%;
        margin: 2rem;
    }

    h3 {
        font-size: 2rem;
        color: $morado;
        margin-top: 2.5rem;
    }
}
