.tecnologias-grid {
    width: 100%;

    @include telefono {
        @include grid(2, $separacion / 4);
    }

    @include tablet {
        @include grid(3, $separacion / 4);
        grid-gap: 2rem;
    }

    @include desktop {
        @include grid(5, $separacion / 2);
        grid-gap: 4rem;
    }
}

.tecnologia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.8rem;

        @include telefono {
            font-size: 2rem;
        }
    }
}

.icon {
    width: 3rem;

    @include telefono {
        width: 5rem;
    }

    i {
        font-size: 3rem;

        @include telefono {
            font-size: 5rem;
        }
    }
}
